@model ProductViewModel

<div class="col-sm-4">
    <div class="card border-success mb-3">
            <h5 class="card-header">@Model.Name</h5>
            <div class="card-body">
                <p class="card-text">
                    @Model.Description
                </p>
                <p class="card-text">
                    <small class="text-muted">@Model.ProductId</small>
                </p>
            </div>
            <div class="card-footer text-muted">
                @Html.RenderFrom("http://retail-sales/order/" + @Model.ProductId)
            </div>

            @Html.HiddenFor(m => Model.ProductId)
            @Html.HiddenFor(m => Model.Name)
            @Html.HiddenFor(m => Model.Description)
    </div>
</div>
